.buttonContainerExplanationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 28%;
  right: 6.5%;
  bottom: 3%;
  justify-content: space-between; 
}

.backgroundHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 118%;
  background-image: url('./Background2.png');
  filter: opacity(1);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}

.text {
  color: #254b16;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 55.5%;
  left: 53.2%;
  line-height: 105%;
  white-space: normal;
  transform: translate(-50%, -50%);
  animation: glow 1.2s ease-in-out infinite alternate;
} 

@keyframes glow {
  from {
    text-shadow: 0 0 10px #f4b640, 0 0 20px #f4b640, 0 0 30px #f4b640, 0 0 40px #f4b640, 0 0 50px #f4b640, 0 0 60px #eeac32, 0 0 70px #f4b640,;
  }
  to {
    text-shadow: 0 0 10px #eeac32, 0 0 20px #eeac32, 0 0 30px #f4b640,0 0 40px #eeac32, 0 0 50px #f4b640, 0 0 60px #f4b640, 0 0 70px #f4b640,;
  }
}


/* Papyrus & its text */

@keyframes papyrus-appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

 

.papyruscontainer {
  background-image: url('./papyrus.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 292px 355px;
  display: inline-block;
  position: absolute;
  top: 7%;
  right: 15.5%;
  animation: papyrus-appear 1s ease-out forwards;
}

.text {
  color: #5a3c28;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  line-height: 105%;
  white-space: normal;
  text-align: center;
  animation: text-appear 1s ease-out 1s forwards, glow 1.2s ease-in-out infinite alternate 2s;
  position: absolute;
  top: 47.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 70%;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
}

.text.text-ar {
  direction: rtl;
  unicode-bidi: bidi-override;
}


 

.languageTable {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.languageTable th,
.languageTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.languageTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}
