@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@300;400;500;700&display=swap');

 
.backgroundHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102.5%;
  background-image: url('./Background1.png');
  filter: opacity(1);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2; 
  
}


.buttonContainerIntroPage {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: fixed;
  left: -1%; 
  right: -80%;
  bottom: 3%;
  padding: 0 16px;
}

 

.greetingBubble {
  margin: 0;
  padding: 10px;
  background: #CBF4BC;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  font-size: 4rem;
  color: #254B16;
  font-family: 'El Messiri', sans-serif;
  right: 37%;
  top: calc(50% - 200px); /* Update the positioning here */
}

.greetingBubble::before {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 20px solid #CBF4BC;
  border-bottom: 0 solid transparent;
  border-left: 13px solid transparent;
  transform: rotate(-180deg);
}

.greetingBubble::after {
  content: '';
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: 4px;
  color: #666;
}


.titlear {
  color: #c92933;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Scheherazade', serif;
  position: absolute;
  top: 43%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.5), 2px 2px 6px rgba(255, 215, 0, 0.5);
  }

.subtitlear {
  color: #8f1e15;
  font-size: 2.3rem;
  position: absolute;
  top: 62%;
  left: 53%;
  font-family: 'El Messiri', sans-serif;
  transform: translate(-50%, -50%);
    direction: rtl;
    unicode-bidi: bidi-override;
   
}


.titlefr {
  color: #c92933;
  font-size: 3.70rem;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  line-height: 90%; 
  position: absolute;
  top: 48%;
  left: 52.2%;  
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.5), 2px 2px 6px rgba(255, 215, 0, 0.5);
}


.subtitlefr {
  color: #882331;
  font-size: 2.2rem;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 64%;
  left: 53%;
  line-height: 90%;
  position: absolute;
  white-space: pre-line;
  transform: translate(-50%, -50%);
}

.titleeng {
    color: #c92933;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
    line-height: 90%; 
    position: absolute;
    top: 48%;
    left: 52.2%;  
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.5), 2px 2px 6px rgba(255, 215, 0, 0.5);
}

.subtitleeng {
  color: #882331;
  font-size: 2.3rem;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 65%;
  left: 54%;
  line-height: 90%; 
  position: absolute;
  white-space: pre-line;
  transform: translate(-50%, -50%);
}


.titledarija {
  color: #c92933;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 49%;
  left: 52%; 
  line-height: 90%; 
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.5), 2px 2px 6px rgba(255, 215, 0, 0.5);
}

.subtitledarija {
  color: #882331;
  font-size: 2.3rem;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 68%;
  left: 52%;
  line-height: 90%; 
  position: absolute;
  white-space: pre-line;
  transform: translate(-50%, -50%);
}
