@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@300;400;500;700&display=swap');
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  position: relative;
}

.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
} 


.buttonContainerIntroPage {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: fixed;
  left: 0%;
  right: -80%;
  bottom: 3%;
  padding: 0 16px;
}



.greetingBubble {
  margin: 0;
  padding: 10px;
  background: #CBF4BC;
  border-radius: 0 5px 5px 5px;
  position: relative;
  display: inline-block;
  font-size: 4rem;
  color: #254B16;
  font-family: 'El Messiri', sans-serif;
  right: 0%;
  top: -515px
}

.greetingBubble::before {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 20px solid #CBF4BC;
  border-bottom: 0 solid transparent;
  border-left: 13px solid transparent;
  transform: rotate(-180deg);
}



.greetingBubble::after {
  content: '';
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: 4px;
  color: #666;
}



.titlear {
  color: #c92933;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Scheherazade', serif;
  position: absolute;
  top: 43%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.subtitlear {
  color: #882331;
  font-size: 2.3rem;
  position: absolute;
  top: 62%;
  left: 53%;
  font-family: 'El Messiri', sans-serif;

  transform: translate(-50%, -50%);
}


.titlefr {
  color: #c92933;
  font-size: 3.70rem;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  line-height: 90%; 
  position: absolute;
  top: 48%;
  left: 52.2%;  
  transform: translate(-50%, -50%);
}


.subtitlefr {
  color: #882331;
  font-size: 2.2rem;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 64%;
  left: 53%;
  line-height: 90%;
  position: absolute;
  white-space: pre-line;
  transform: translate(-50%, -50%);
}

.titleeng {
    color: #c92933;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
    line-height: 90%; 
    position: absolute;
    top: 48%;
    left: 52.2%;  
    transform: translate(-50%, -50%);
}

.subtitleeng {
  color: #882331;
  font-size: 2.3rem;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 65%;
  left: 54%;
  line-height: 90%; 
  position: absolute;
  white-space: pre-line;
  transform: translate(-50%, -50%);
}


.titledarija {
  color: #c92933;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 49%;
  left: 52%; 
  line-height: 90%; 
  transform: translate(-50%, -50%);
}

.subtitledarija {
  color: #882331;
  font-size: 2.3rem;
  font-family: 'El Messiri', sans-serif;
  position: absolute;
  top: 68%;
  left: 52%;
  line-height: 90%; 
  position: absolute;
  white-space: pre-line;
  transform: translate(-50%, -50%);
}
