.App {
  text-align: center; 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Gamified Button, like duolingo */
.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #66a24a;
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 0 #34682a;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
