 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

}
.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: #c92933;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 43%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.subtitle {
  color: #882331;
  font-size: 1.7rem;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}


/* Gamified Button, like duolingo */
.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #66a24a;
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 0 #34682a;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

 

.teapot {
  position: absolute;
  left: 4%;
  bottom: -2%;
  width: 9.4%;
  height: auto;
}

.backgroundHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./BGH.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}

.shadow {
  position: absolute;
  left: 1.05%;
  bottom: -6.5%;
  width: 30%;
  height: auto;
}

.logo {
  max-width: 40%;
  object-fit: contain;
  margin-left: -64%;
  max-height: 100%;
  margin-top: 5%;
}

.logo:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
 

.logoFloating {
  animation: floating 2.3s ease infinite;
}

.logoAppearing {
  animation: genieAppearing 2s;
}

@keyframes genieAppearing {
  0% {
    transform: translateX(-100%) translateY(70%) scale(0.2);
    opacity: 0;
  }

  50% {
    transform: translateX(0) translateY(0) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}


@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterButtonContainer {
  text-align: center;
}

.enterButton {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
}



